{% extends 'base.html.twig' %}

{% block title %}Ingredient{% endblock %}

{% block body %}
    <h1>Ingredient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ingredient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ingredient.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ingredient.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ingredient_index') }}">back to list</a>

    <a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">edit</a>

    {{ include('ingredient/_delete_form.html.twig') }}
{% endblock %}
