{% extends 'base.html.twig' %}

{% block title %}article{% endblock %}
{% block menuarticle %}{% endblock %}
{% block body %}
    <h1>Image</h1><br>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(form) }}

    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="inputEmail4">{{ form_label(form.imageFile) }}</label>
            {{ form_widget(form.imageFile) }}
        </div>

    </div>

    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}



{% endblock %}
