{#
    * Admin/ProfilController.php
    * Liste des profils
#}
{% extends 'base.html.twig' %}

{% block title %}Profil index{% endblock %}

{% block body %}
    <h1>Profil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>DateNaissance</th>
                <th>Telephone</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil in profils %}
            <tr>
                <td>{{ profil.id }}</td>
                <td>{{ profil.nom }}</td>
                <td>{{ profil.prenom }}</td>
                <td>{{ profil.dateNaissance ? profil.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ profil.telephone }}</td>
                <td>{{ profil.pseudo }}</td>
                <td>
                    <a href="{{ path('profil_show', {'id': profil.id}) }}">show</a>
                    <a href="{{ path('profil_edit', {'id': profil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profil_new') }}">Create new</a>
{% endblock %}
