{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ utilisateur.username }}</td>
            </tr>
            <tr>
                <th>UsernameCanonical</th>
                <td>{{ utilisateur.usernameCanonical }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>EmailCanonical</th>
                <td>{{ utilisateur.emailCanonical }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ utilisateur.enabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ utilisateur.salt }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            <tr>
                <th>LastLogin</th>
                <td>{{ utilisateur.lastLogin ? utilisateur.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ConfirmationToken</th>
                <td>{{ utilisateur.confirmationToken }}</td>
            </tr>
            <tr>
                <th>PasswordRequestedAt</th>
                <td>{{ utilisateur.passwordRequestedAt ? utilisateur.passwordRequestedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Locale</th>
                <td>{{ utilisateur.locale }}</td>
            </tr>
            <tr>
                <th>Timezone</th>
                <td>{{ utilisateur.timezone }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ utilisateur.roles ? utilisateur.roles|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateur_index') }}">back to list</a>

    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
