{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}IMC{% endblock %}

{% block body %}

    <h1>IMG</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary">{{ button_label|default('Calculer') }}</button>
    {{ form_end(form) }}

    {% if img == null %}
        <h1>0</h1>
    {% else %}
        <h1>IMG = {{ img }} % </h1>
    {% endif %}

{% endblock %}
