{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Hydratation quotidienne{% endblock %}

{% block body %}

    <h1>Hydratation quotidienne</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary">{{ button_label|default('Calculer') }}</button>
    {{ form_end(form) }}

    {% if quantiteEau == null %}
        <h1>0</h1>
    {% else %}
        <h1>Quantité d'eau par jour = {{ quantiteEau|round() }} ml </h1>
    {% endif %}

{% endblock %}
