{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Indicateur{% endblock %}

{% block body %}

    <!-- Breadcrumbs-->
    <div class="breadcrumbs ">
        <div class="breadcrumbs-inner shadow-sm p-3 bg-white rounded">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Indicateur</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Outils</a></li>
                                <li><a href="#">Suivi</a></li>
                                <li class="active">Indicateur</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.breadcrumbs-->
    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">

            <div class="card">
                {# cool nuance de noir #1C2833 #}
                <div class="card-header shadow p-3 rounded" style="background-color: #03A9F3; color: white; text-align: center">
                    Mes mesures
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="container">
                        <div class="row row-cols-4">
                            <div class="col">{{ form_label(form.sexe) }}{{ form_widget(form.sexe) }}</div>
                            <div class="col">{{ form_label(form.age) }}{{ form_widget(form.age) }}</div>
                            <div class="col">{{ form_label(form.taille) }}{{ form_widget(form.taille) }}</div>
                            <div class="col">{{ form_label(form.poids) }}{{ form_widget(form.poids) }}</div>
                            <div class="col">{{ form_label(form.niveauActivite) }}{{ form_widget(form.niveauActivite) }}</div>
                            <button class="btn">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="row">
{#                <div class="col-sm-6 col-lg-3">#}
{#                    <div class="card text-white bg-flat-color-1">#}
{#                        <div class="card-body">#}
{#                            <div class="card-left pt-1 float-left">#}
{#                                <h3 class="mb-0 fw-r">#}
{#                                    {% if imc == null %}#}
{#                                        <span>?</span><br>#}
{#                                    {% else %}#}
{#                                        <span class="count">{{ imc }}</span><br>#}
{#                                    {% endif %}#}
{#                                </h3>#}
{#                                <p class="text-light mt-1 m-0">IMC</p>#}
{#                            </div><!-- /.card-left -->#}
{#                            <div class="card-right float-right text-right">#}
{#                                <i class="icon fade-5 icon-lg pe-7s-cart"></i>#}
{#                            </div><!-- /.card-right -->#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!--/.col-->#}

{#                <div class="col-sm-6 col-lg-3">#}
{#                    <div class="card text-white bg-flat-color-6">#}
{#                        <div class="card-body">#}
{#                            <div class="card-left pt-1 float-left">#}
{#                                <h3 class="mb-0 fw-r">#}
{#                                    {% if img == null %}#}
{#                                        <span>?</span>#}
{#                                        <span>%</span>#}
{#                                    {% else %}#}
{#                                        <span class="count">{{ img }}</span>#}
{#                                        <span>%</span>#}
{#                                    {% endif %}#}
{#                                </h3>#}
{#                                <p class="text-light mt-1 m-0">IMG</p>#}
{#                            </div><!-- /.card-left -->#}
{#                            <div class="card-right float-right text-right">#}
{#                                <div id="flotBar1" class="flotBar1"></div>#}
{#                            </div><!-- /.card-right -->#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!--/.col-->#}

{#                <div class="col-sm-6 col-lg-3">#}
{#                    <div class="card text-white bg-flat-color-3">#}
{#                        <div class="card-body">#}
{#                            <div class="card-left pt-1 float-left">#}
{#                                <h3 class="mb-0 fw-r">#}
{#                                    <span class="count">{{ metabolismeBase }}</span>#}
{#                                    <span>kcal</span>#}
{#                                </h3>#}
{#                                <p class="text-light mt-1 m-0">calories par jour</p>#}
{#                            </div><!-- /.card-left -->#}
{#                            <div class="card-right float-right text-right">#}
{#                                <i class="icon fade-5 icon-lg pe-7s-users"></i>#}
{#                            </div><!-- /.card-right -->#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!--/.col-->#}

{#                <div class="col-sm-6 col-lg-3">#}
{#                    <div class="card text-white bg-flat-color-2">#}
{#                        <div class="card-body">#}
{#                            <div class="card-left pt-1 float-left">#}
{#                                <h3 class="mb-0 fw-r">#}
{#                                    <span class="count">{{ poidsIdeal }}</span>#}
{#                                    <span>kg</span>#}
{#                                </h3>#}
{#                                <p class="text-light mt-1 m-0">Poids idéal</p>#}
{#                            </div><!-- /.card-left -->#}
{#                            <div class="card-right float-right text-right">#}
{#                                <div id="flotLine1" class="flotLine1"></div>#}
{#                            </div><!-- /.card-right -->#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!--/.col-->#}


                <div class="col-sm-12 mb-4">
                    <div class="card-group">
                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fab fa-nutritionix"></i>
                                </div>

                                <div class="h4 mb-0">
                                    <span class="count">{{ metabolismeBase }}</span>
                                </div>

                                <small class="text-muted text-uppercase font-weight-bold">métabolisme de base</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>

{#                        <div class="card col-md-6 no-padding ">#}
{#                            <div class="card-body">#}
{#                                <div class="h1 text-muted text-right mb-4">#}
{#                                    <i class="fa fa-users"></i>#}
{#                                </div>#}

{#                                <div class="h4 mb-0">#}
{#                                    <span class="count">{{ metabolismeBase }}</span>#}
{#                                </div>#}

{#                                <small class="text-muted text-uppercase font-weight-bold">métabolisme de base</small>#}
{#                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>#}
{#                            </div>#}
{#                        </div>#}

                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fas fa-weight"></i>
                                </div>
                                <div class="h4 mb-0">
                                    <span class="count">{{ poidsIdeal }}</span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold">Poids idéal</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>
                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fas fa-tint"></i>
                                </div>
                                <div class="h4 mb-0">
                                    <span class="count">{{ quantiteEau }}</span>ml
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold">d'eau/j</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>
                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fas fa-male"></i>
                                </div>
                                <div class="h4 mb-0">
                                    {% if img == null %}
                                        <span>?</span>
                                        <span>%</span>
                                    {% else %}
                                        <span class="count">{{ img }}</span>
                                        <span>%</span>
                                    {% endif %}
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold">IMG</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-5" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>
                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fas fa-child"></i>
                                </div>
                                <div class="h4 mb-0">
                                        {% if imc == null %}
                                            <span>?</span>
                                        {% else %}
                                            <span class="count">{{ imc }}</span>
                                        {% endif %}
                                    </span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold">IMC</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- .row -->
        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->




{% endblock %}
