{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Indicateur{% endblock %}

{% block body %}
    <style>
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
    </style>

    {% for message in app.flashes('badge') %}
        {{ include('flashmessages/success_message.html.twig') }}
    {% endfor %}

    <div class="breadcrumbs "><!-- Breadcrumbs-->
        <div class="breadcrumbs-inner shadow-sm p-3 bg-white rounded">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Indicateur</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Outils</a></li>
                                <li><a href="#">Suivi</a></li>
                                <li class="active">Indicateur</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.breadcrumbs-->

    <div class="content"><!-- Content -->

        <div class="animated fadeIn"> <!-- Animated -->

            <div class="card">
                {# cool nuance de noir #1C2833 #}
                <div class="card-header shadow p-3 rounded" style="background-color: #03A9F3; color: white; text-align: center">
                    Mes mesures
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="container">
                        <div class="row row-cols-4">
                            <div class="col">{{ form_label(form.sexe) }}{{ form_widget(form.sexe) }}</div>
                            <div class="col">{{ form_label(form.age) }}{{ form_widget(form.age) }}</div>
                            <div class="col">{{ form_label(form.taille) }}{{ form_widget(form.taille) }}</div>
                            <div class="col">{{ form_label(form.poids) }}{{ form_widget(form.poids) }}</div>
                            <div class="col">{{ form_label(form.niveauActivite) }}{{ form_widget(form.niveauActivite) }}</div>
                            <button class="btn">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="row"><!-- widget bilan -->

                <div class="col-sm-12 mb-4">
                    <div class="card-group">
                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fab fa-nutritionix"></i>
                                </div>

                                <div class="h4 mb-0">
                                    <span class="count">{{ metabolismeBase }}</span>
                                </div>

                                <small class="text-muted text-uppercase font-weight-bold">métabolisme de base</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>

                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fas fa-weight"></i>
                                </div>
                                <div class="h4 mb-0">
                                    <span class="count">{{ poidsIdeal }}</span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold">Poids idéal</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>
                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fas fa-tint"></i>
                                </div>
                                <div class="h4 mb-0">
                                    <span class="count">{{ quantiteEau }}</span>ml
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold">d'eau/j</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>
                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fas fa-male"></i>
                                </div>
                                <div class="h4 mb-0">
                                    {% if img == null %}
                                        <span>?</span>
                                        <span>%</span>
                                    {% else %}
                                        <span class="count">{{ img }}</span>
                                        <span>%</span>
                                    {% endif %}
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold">IMG</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-5" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>
                        <div class="card col-md-6 no-padding ">
                            <div class="card-body">
                                <div class="h1 text-muted text-right mb-4">
                                    <i class="fas fa-child"></i>
                                </div>
                                <div class="h4 mb-0">
                                        {% if imc == null %}
                                            <span>?</span>
                                        {% else %}
                                            <span class="count">{{ imc }}</span>
                                        {% endif %}
                                    </span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold">IMC</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .row widget bilan -->

            <div class="row"><!--  Widget calories  -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Besoin calorique et macronutriment journalier</h4>
                            <p>Donec accumsan, sapien et posuere semper, Metabolisme de base = {{ metabolismeBase }} sapien felis sodales tellus, id commodo nisi sapien et est. Besoin calorique journalier = {{ besoinCalorique|round() }} Mauris nisl odio, iaculis vitae pellentesque nec.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-body">
                                    <div id="cprPieChart" style="width: 100%; height: 400px;"></div>
                                    {% set pdej = besoinCalorique * 0.25 %}
                                    {% set dej = besoinCalorique * 0.40 %}
                                    {% set gouter = besoinCalorique * 0.05 %}
                                    {% set diner = besoinCalorique * 0.30 %}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card-body">
                                    <div id="macroChart" style="width: 100%"></div>
                                    {% set glucide = besoinCalorique * 0.5 / 4 %}
                                    {% set proteine = besoinCalorique * 0.15 /4 %}
                                    {% set lipide = besoinCalorique * 0.35 / 9 %}
                                    <p> Manger 5 fruits et légumes par jour suivez notre programme en cliquant ici </p>
                                </div>
                            </div>
                        </div> <!-- /.row -->
                        <div class="card-body"></div>

                    </div>
                </div>
            </div><!-- Fin row calorie -->

            <div class="row"><!-- Widget IMC IMG -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Indice de Masse Corporelle</h4>
                            <p>Donec accumsan, sapien et posuere semper, sapien felis sodales tellus, id commodo nisi sapien et est. Mauris nisl odio, iaculis vitae pellentesque nec.</p>
                            <div id="imcChart" style="width: 100%; height: 400px"></div>
                        </div>
                    </div>
                </div><!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Indice de Masse Grasse</h4>
                            <p>Donec accumsan, sapien et posuere semper, sapien felis sodales tellus, id commodo nisi sapien et est. Mauris nisl odio, iaculis vitae pellentesque nec.</p>
                            <div id="imgChart" style="width: 100%; height: 400px"></div>
                        </div>
                    </div>
                </div><!-- /# column -->

            </div><!-- Fin partie IMC IMG -->

            <div class="row"><!--  Widget hydratation  -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Hydratation quotidienne</h4>
                            <p>Donec accumsan, sapien et posuere semper, sapien felis sodales tellus, id commodo nisi sapien et est. Mauris nisl odio, iaculis vitae pellentesque nec.</p>
                            <div id="hydroChart" style="width: 100%; height: 400px"></div>
                        </div>
                    </div>
                </div>
            </div><!-- Fin row hydratation -->

        </div><!-- .animated -->
    </div><!-- /.content -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<script>
// apexchart

    // macro chart
    var options = {
        series: [{{ glucide|round() }}, {{ proteine|round() }}, {{ lipide|round() }}],
        labels: ['Glucide', 'Protéine', 'Lipide'],
        chart: {
            width: 380,
            type: 'donut',
        },
        dataLabels: {
            enabled: false
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    show: false
                }
            }
        }],
        legend: {
            position: 'right',
            offsetY: 0,
            height: 230,
        }
    };

    var chart = new ApexCharts(document.querySelector("#macroChart"), options);
    chart.render();



    // calorie chart
    var options = {
        series: [{
            data: [{{ metabolismeBase|round() }}, {{ besoinCalorique|round() }}, {{ pdej|round() }}, {{ dej|round() }}, {{ gouter|round() }}, {{ diner|round() }}]
        }],
        chart: {
            type: 'bar',
            height: 380
        },
        plotOptions: {
            bar: {
                barHeight: '100%',
                distributed: true,
                horizontal: true,
                dataLabels: {
                    position: 'bottom'
                },
            }
        },
        colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e',
            '#f48024', '#69d2e7'
        ],
        dataLabels: {
            enabled: true,
            textAnchor: 'start',
            style: {
                colors: ['#ffffff']
            },
            formatter: function (val, opt) {
                return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
            },
            offsetX: 0,
            dropShadow: {
                enabled: true
            }
        },
        stroke: {
            width: 2,
            colors: ['#fff']
        },
        xaxis: {
            categories: ['Métabolisme de base', 'besoin calorique journalier', 'Petit déjeuner', 'Déjeuner', 'Gouter', 'Diner'
            ],
        },
        yaxis: {
            labels: {
                show: false
            }
        },
        title: {
            text: 'Calories',
            align: 'center',
            floating: true
        },
        subtitle: {
            text: 'besoin en calories par jour',
            align: 'center',
        },
        tooltip: {
            theme: 'dark',
            x: {
                show: false
            },
            y: {
                title: {
                    formatter: function () {
                        return ''
                    }
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#cprPieChart"), options);
    chart.render();


    // img chart
    var options = {
        series: [{{ img|round() }}],
        chart: {
            height: 350,
            type: 'radialBar',
        },
        plotOptions: {
            radialBar: {
                hollow: {
                    size: '70%',
                }
            },
        },
        labels: ['IMG'],
    };

    var chart = new ApexCharts(document.querySelector("#imgChart"), options);
    chart.render();

    // imc chart
    var options = {
        series: [{
            name: 'Sous-poids entre 0 et 18.5',
            data: [18.5]
        }, {
            name: 'Poids normal entre 18.5 et 24.9 ',
            data: [24.9]
        }, {
            name: 'Surpoids entre 25 et 29.9 ',
            data: [29.9]
        }, {
            name: 'Obésité à partir de 30',
            data: [34.9]
        }],
        chart: {
            type: 'bar',
            height: 350,
            stacked: true,
        },
        plotOptions: {
            bar: {
                horizontal: true,
            },
        },
        stroke: {
            width: 1,
            colors: ['#fff']
        },
        xaxis: {
            labels: {
                show: false,
            },
        },
        yaxis: {
            labels: {
                show: false,
            },
            title: {
                text: undefined
            },
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val + " Kg/m²"
                }
            }
        },
        fill: {
            opacity: 1
        },
        legend: {
            position: 'top',
            horizontalAlign: 'left',
            offsetX: 40
        }
    };

    var chart = new ApexCharts(document.querySelector("#imcChart"), options);
    chart.render();


    //hydroChart
    var options = {
        series: [{
            data: [{{ quantiteEau|round() }}]
        }],
        chart: {
            type: 'bar',
            height: 350
        },
        plotOptions: {
            bar: {
                borderRadius: 4,
                horizontal: true,
            }
        },
        dataLabels: {
            enabled: false
        },
        xaxis: {
            categories: ['Hydratation (ml/jour)'
            ],
        }
    };

    var chart = new ApexCharts(document.querySelector("#hydroChart"), options);
    chart.render();

</script>


{% endblock %}
