{% extends 'base.html.twig' %}

{% block title %}Indicateur{% endblock %}

{% block body %}
    <h1>Indicateur</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    {# @Todo: gérer mesure null#}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Sexe</th>
            <th scope="col">Age</th>
            <th scope="col">Taille</th>
            <th scope="col">Poids</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{ lastMesure.sexe }}</th>
            <th>{{ lastMesure.age }}</th>
            <th>{{ lastMesure.taille }}</th>
            <th>{{ lastMesure.poids }}</th>
        </tr>
        </tbody>
    </table>

{% endblock %}
