{% extends 'base.html.twig' %}

{% block title %}Mensuration{% endblock %}

{% block body %}
    <h1>Mensuration</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('profil_index') }}">back to list</a>

{% endblock %}
