{% form_theme formActuel 'bootstrap_4_layout.html.twig' %}
{% form_theme formObjectif 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Mensuration{% endblock %}

{% block body %}
    <!-- Breadcrumbs-->
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner shadow-sm p-3 bg-white rounded">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Mensuration</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Outils</a></li>
                                <li><a href="#">Suivi</a></li>
                                <li class="active">Mensuration</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.breadcrumbs-->


<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header shadow p-3 rounded" style="background-color: #03A9F3; color: white; text-align: center">
                        Actuel
                    </div>
                    <div class="card-body">
                        {{ form_start(formActuel) }}
                        <div class="container">
                            <div class="row row-cols-4">
                                <div class="col">{{ form_label(formActuel.Cou) }}{{ form_widget(formActuel.Cou) }}</div>
                                <div class="col">{{ form_label(formActuel.Epaules) }}{{ form_widget(formActuel.Epaules) }}</div>
                                <div class="col">{{ form_label(formActuel.Poitrine) }}{{ form_widget(formActuel.Poitrine) }}</div>
                                <div class="col">{{ form_label(formActuel.Bras) }}{{ form_widget(formActuel.Bras) }}</div>
                                <div class="col">{{ form_label(formActuel.Tourdetaille) }}{{ form_widget(formActuel.Tourdetaille) }}</div>
                                <div class="col">{{ form_label(formActuel.Cuisses) }}{{ form_widget(formActuel.Cuisses) }}</div>
                                <div class="col">{{ form_label(formActuel.Mollets) }}{{ form_widget(formActuel.Mollets) }}</div>
                                <button class="btn">{{ button_label|default('Enregistrer') }}</button>
                            </div>
                        </div>
                        {{ form_end(formActuel) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header shadow p-3 rounded" style="background-color: #00c292; color: white; text-align: center">
                        Objectif
                    </div>
                    <div class="card-body">
                        {{ form_start(formObjectif) }}
                        <div class="container">
                            <div class="row row-cols-4">
                                <div class="col">{{ form_label(formObjectif.Cou) }}{{ form_widget(formObjectif.Cou) }}</div>
                                <div class="col">{{ form_label(formObjectif.Epaules) }}{{ form_widget(formObjectif.Epaules) }}</div>
                                <div class="col">{{ form_label(formObjectif.Poitrine) }}{{ form_widget(formObjectif.Poitrine) }}</div>
                                <div class="col">{{ form_label(formObjectif.Bras) }}{{ form_widget(formObjectif.Bras) }}</div>
                                <div class="col">{{ form_label(formObjectif.Tourdetaille) }}{{ form_widget(formObjectif.Tourdetaille) }}</div>
                                <div class="col">{{ form_label(formObjectif.Cuisses) }}{{ form_widget(formObjectif.Cuisses) }}</div>
                                <div class="col">{{ form_label(formObjectif.Mollets) }}{{ form_widget(formObjectif.Mollets) }}</div>
                                <button class="btn">{{ button_label|default('Enregistrer') }}</button>
                            </div>
                        </div>
                        {{ form_end(formObjectif) }}
                    </div>
                </div>
            </div>
        </div>


        <!--  haut du corps  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Haut du corps</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card-body">
                                <!-- <canvas id="TrafficChart"></canvas>   -->
                                <canvas id="hautDuCorps"></canvas>
{#                                <div id="hautDuCorps" class="traffic-chart"></div>#}
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card-body">
                                <div class="progress-box progress-1">
                                    <h4 class="por-title">Cou</h4>
                                    {% set couPC = lastMensuration.cou * 100 / lastMensurationObjectif.cou %}
                                    <div class="por-txt">{{ lastMensuration.cou }}cm sur {{ lastMensurationObjectif.cou }}cm ( {{ couPC|round(1) }}% de l'objectif atteint )</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: {{ couPC }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">Epaules</h4>
                                    {% set epaulePC = lastMensuration.epaules * 100 / lastMensurationObjectif.epaules %}
                                    <div class="por-txt">{{ lastMensuration.epaules }}cm sur {{ lastMensurationObjectif.epaules }}cm ( {{ epaulePC|round(1) }}% de l'objectif atteint)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: {{ epaulePC }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">Poitrine</h4>
                                    {% set poitrinePC = lastMensuration.poitrine * 100 / lastMensurationObjectif.poitrine %}
                                    <div class="por-txt">{{ lastMensuration.poitrine }}cm sur {{ lastMensurationObjectif.poitrine }}cm ( {{ poitrinePC|round(1) }}% de l'objectif atteint)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-3" role="progressbar" style="width: {{ poitrinePC }}%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">Bras</h4>
                                    {% set brasPC = lastMensuration.bras * 100 / lastMensurationObjectif.bras %}
                                    <div class="por-txt">{{ lastMensuration.bras }}cm sur {{ lastMensurationObjectif.bras }}cm ( {{ brasPC|round(1) }}% de l'objectif atteint)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-4" role="progressbar" style="width: {{ brasPC }}%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div> <!-- /.card-body -->
                        </div>
                    </div> <!-- /.row -->
                    <div class="card-body"></div>

                </div>
            </div>
        </div>


        <!--  bas du corps  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Bas du corps</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card-body">
                                <div class="progress-box progress-1">
                                    <h4 class="por-title">Tour de taille</h4>
                                    {% set tourDeTaillePC = lastMensuration.tourDeTaille * 100 / lastMensurationObjectif.tourDeTaille %}
                                    <div class="por-txt">{{ lastMensuration.tourDeTaille }}cm sur {{ lastMensurationObjectif.tourDeTaille }}cm ( {{ tourDeTaillePC|round(1) }}% de l'objectif atteint )</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: {{ tourDeTaillePC }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">Cuisses</h4>
                                    {% set cuissesPC = lastMensuration.cuisses * 100 / lastMensurationObjectif.cuisses %}
                                    <div class="por-txt">{{ lastMensuration.cuisses }}cm sur {{ lastMensurationObjectif.cuisses }}cm ( {{ cuissesPC|round(1) }}% de l'objectif atteint)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: {{ cuissesPC }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">Mollets</h4>
                                    {% set molletsPC = lastMensuration.mollets * 100 / lastMensurationObjectif.mollets %}
                                    <div class="por-txt">{{ lastMensuration.mollets }}cm sur {{ lastMensurationObjectif.mollets }}cm ( {{ molletsPC|round(1) }}% de l'objectif atteint)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-3" role="progressbar" style="width: {{ molletsPC }}%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div> <!-- /.card-body -->
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <!-- <canvas id="TrafficChart"></canvas>   -->
                                <canvas id="basDuCorps"></canvas>
                                {#                                <div id="hautDuCorps" class="traffic-chart"></div>#}
                            </div>
                        </div>
                    </div> <!-- /.row -->
                    <div class="card-body"></div>

                </div>
            </div>
        </div>

    </div><!-- Fin animated -->
</div><!-- Fin Content -->

{# @Todo: gérer mensuration null#}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctxHDC = document.getElementById('hautDuCorps');
    var ctxBDC = document.getElementById('basDuCorps');

    var date = {{ date|json_encode|raw }};

    var cou = {{ cou|json_encode }};
    var epaules = {{ epaules|json_encode }};
    var poitrine = {{ poitrine|json_encode }};
    var bras = {{ bras|json_encode }};

    var tourDeTaille = {{ tourDeTaille|json_encode }};
    var cuisses = {{ cuisses|json_encode }};
    var mollets = {{ mollets|json_encode }};

    var hautChart = new Chart(ctxHDC, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: 'Cou',
                data: cou,
                backgroundColor: ['#00c292'],
                borderColor: ['#00c292'],
                borderWidth: 3
            },{
                label: 'Epaules',
                data: epaules,
                backgroundColor: ['#ab8ce4'],
                borderColor: ['#ab8ce4'],
                borderWidth: 3
            },{
                label: 'Poitrine',
                data: poitrine,
                backgroundColor: ['#03a9f3'],
                borderColor: ['#03a9f3'],
                borderWidth: 3
            },
                {
                    label: 'Bras',
                    data: bras,
                    backgroundColor: ['#fb9678'],
                    borderColor: ['#fb9678'],
                    borderWidth: 3
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });

    var basChart = new Chart(ctxBDC, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: 'Tour de taille',
                data: tourDeTaille,
                backgroundColor: ['#00c292'],
                borderColor: ['#00c292'],
                borderWidth: 3
            },{
                label: 'Cuisses',
                data: cuisses,
                backgroundColor: ['#ab8ce4'],
                borderColor: ['#ab8ce4'],
                borderWidth: 3
            },{
                label: 'Mollets',
                data: mollets,
                backgroundColor: ['#03a9f3'],
                borderColor: ['#03a9f3'],
                borderWidth: 3
            }]},
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });

</script>

{% endblock %}
