<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Myfitzone{% endblock %}</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
{#    <link rel="stylesheet" href="{{ asset('css/cs-skin-elastic.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('css/style.css') }}">#}
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/f7c0240d24.js" crossorigin="anonymous"></script>

    {#css pour le carousel d'article#}
    <style>
        .b-0 {
            bottom: 0;
        }
        .bg-shadow {
            background: rgba(76, 76, 76, 0);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
            background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
        }
        .top-indicator {
            right: 0;
            top: 1rem;
            bottom: inherit;
            left: inherit;
            margin-right: 1rem;
        }
        .overflow {
            position: relative;
            overflow: hidden;
        }
        .zoom img {
            transition: all 0.2s linear;
        }
        .zoom:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    </style>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    {% if not is_granted('ROLE_ADMIN') %}
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ path('home') }}"><i class="menu-icon fa fa-laptop"></i>Accueil</a>
                    </li>
                    <li class="menu-title">Outils</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Calculatrices</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="tables-basic.html">IMC</a></li>
                            <li><i class="fa fa-table"></i><a href="tables-data.html">IMG</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Suivi</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
                        </ul>
                    </li>
                    <li class="menu-title">Articles</li><!-- /.menu-title -->
{#                    {{ dump(app.session) }}#}
                    {% for categorie in app.session.get('categories') %}
{#                        {% for categorie in article.categorie %}#}
{#                            {{ dump(article.categorie.libelle) }}#}
{#                        {% if article.categorie.libelle %}#}
{#                            {{ dump(categorie) }}#}

{#                        {% endfor %}#}
{#                    {{ dump(article) }}#}
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon {{ categorie.iconCategorie }}"></i>{{ categorie.libelle }}</a>
                        <ul class="sub-menu children dropdown-menu">
                            {% for article in categorie.article %}
                            <li><i class="menu-icon {{ article.iconArticle }}"></i><a href="{{ path('article', {'slug': article.slug}) }}">{{ article.titre }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
{#                            {{ dump(categories[0].article) }}#}
{#                            {{ dump(categories) }}#}
{#                            {% for categorie in categories %}#}
{#                                {% for article in categorie.article %}#}
{#                                    {{ dump(article) }}#}
{#                                {% endfor %}#}
{#                            {{ dump(categorie.article) }}#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
                    {% endfor %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    {% elseif is_granted('ROLE_ADMIN') %}
        {{ include('menu/_sidebar-admin.html.twig') }}
    {% endif %}
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
{#                <a class="navbar-brand" href="./"><img src="images/logo.png" alt="Logo"></a>#}
                <a class="navbar-brand" href="./">Myfitzone</a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>

{#                    <div class="dropdown for-notification">#}
{#                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            <i class="fa fa-bell"></i>#}
{#                            <span class="count bg-danger">3</span>#}
{#                        </button>#}
{#                        <div class="dropdown-menu" aria-labelledby="notification">#}
{#                            <p class="red">You have 3 Notification</p>#}
{#                            <a class="dropdown-item media" href="#">#}
{#                                <i class="fa fa-check"></i>#}
{#                                <p>Server #1 overloaded.</p>#}
{#                            </a>#}
{#                            <a class="dropdown-item media" href="#">#}
{#                                <i class="fa fa-info"></i>#}
{#                                <p>Server #2 overloaded.</p>#}
{#                            </a>#}
{#                            <a class="dropdown-item media" href="#">#}
{#                                <i class="fa fa-warning"></i>#}
{#                                <p>Server #3 overloaded.</p>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="dropdown for-message">#}
{#                        <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            <i class="fa fa-envelope"></i>#}
{#                            <span class="count bg-primary">4</span>#}
{#                        </button>#}
{#                        <div class="dropdown-menu" aria-labelledby="message">#}
{#                            <p class="red">You have 4 Mails</p>#}
{#                            <a class="dropdown-item media" href="#">#}
{#                                <span class="photo media-left"><img alt="avatar" src="{{ asset('admin.jpg') }}"></span>#}
{#                                <div class="message media-body">#}
{#                                    <span class="name float-left">Jonathan Smith</span>#}
{#                                    <span class="time float-right">Just now</span>#}
{#                                    <p>Hello, this is an example msg</p>#}
{#                                </div>#}
{#                            </a>#}
{#                            <a class="dropdown-item media" href="#">#}
{#                                <span class="photo media-left"><img alt="avatar" src="{{ asset('admin.jpg') }}"></span>#}
{#                                <div class="message media-body">#}
{#                                    <span class="name float-left">Jack Sanders</span>#}
{#                                    <span class="time float-right">5 minutes ago</span>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur</p>#}
{#                                </div>#}
{#                            </a>#}
{#                            <a class="dropdown-item media" href="#">#}
{#                                <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>#}
{#                                <div class="message media-body">#}
{#                                    <span class="name float-left">Cheryl Wheeler</span>#}
{#                                    <span class="time float-right">10 minutes ago</span>#}
{#                                    <p>Hello, this is an example msg</p>#}
{#                                </div>#}
{#                            </a>#}
{#                            <a class="dropdown-item media" href="#">#}
{#                                <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>#}
{#                                <div class="message media-body">#}
{#                                    <span class="name float-left">Rachel Santos</span>#}
{#                                    <span class="time float-right">15 minutes ago</span>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur</p>#}
{#                                </div>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
                {% if not is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('nucleos_user_security_login') }}" class="btn btn-outline-success" role="button" aria-pressed="true">Connexion</a>
                </div>
                {% elseif is_granted('ROLE_ADMIN') %}
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="{{ asset('admin.jpg') }}" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                        <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                        <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                        <a class="nav-link" href="{{ path('nucleos_user_security_logout') }}"><i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content">
{#        {{ knp_menu_render('App:Builder:mainMenu') }}#}
        {% block body %}
            <div class="container">
{#                <div class="row mb-2">#}
{#                    <div class="col-12 text-center pt-3">#}
{#                        <h1>Bootstrap 4 News Magazine Carousel</h1>#}
{#                        <p>This is a basic bootstrap sorce code for make responsive magazine big grid cover with carousel</p>#}
{#                        <h4>You like this snippet ? click like button</h4>#}
{#                    </div>#}
{#                </div>#}

                <!--Start code-->
                <div class="row">
                    <div class="col-12 pb-5">
                        <!--SECTION START-->
                        <section class="row">
                            <!--Start slider news-->
                            <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
                                <div id="featured" class="carousel slide carousel" data-ride="carousel">
                                    <!--dots navigate-->
                                    <ol class="carousel-indicators top-indicator">
                                        <li data-target="#featured" data-slide-to="0" class="active"></li>
                                        <li data-target="#featured" data-slide-to="1"></li>
                                        <li data-target="#featured" data-slide-to="2"></li>
                                        <li data-target="#featured" data-slide-to="3"></li>
                                    </ol>

                                    <!--carousel inner-->
                                    <div class="carousel-inner">
                                        <!--Item slider-->
                                        <div class="carousel-item active">
                                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                                <div class="position-relative">
                                                    <!--thumbnail img-->
                                                    <div class="ratio_left-cover-1 image-wrapper">
                                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                            <img class="img-fluid w-100"
                                                                 src="https://bootstrap.news/source/img1.jpg"
                                                                 alt="Bootstrap news template">
                                                        </a>
                                                    </div>
                                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                        <!--title-->
                                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                            <h2 class="h3 post-title text-white my-1">Bootstrap 4 template news portal magazine perfect for news site</h2>
                                                        </a>
                                                        <!-- meta title -->
                                                        <div class="news-meta">
                                                            <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                                            <span class="news-date">Oct 22, 2019</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Item slider-->
                                        <div class="carousel-item">
                                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                                <div class="position-relative">
                                                    <!--thumbnail img-->
                                                    <div class="ratio_left-cover-1 image-wrapper">
                                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                            <img class="img-fluid w-100"
                                                                 src="https://bootstrap.news/source/img2.jpg"
                                                                 alt="Bootstrap news theme">
                                                        </a>
                                                    </div>
                                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                        <!--title-->
                                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                            <h2 class="h3 post-title text-white my-1">Walmart shares up 10% on online sales lift</h2>
                                                        </a>
                                                        <!-- meta title -->
                                                        <div class="news-meta">
                                                            <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                                            <span class="news-date">Oct 22, 2019</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Item slider-->
                                        <div class="carousel-item">
                                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                                <div class="position-relative">
                                                    <!--thumbnail img-->
                                                    <div class="ratio_left-cover-1 image-wrapper">
                                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                            <img class="img-fluid w-100"
                                                                 src="https://bootstrap.news/source/img3.jpg"
                                                                 alt="Bootstrap blog template">
                                                        </a>
                                                    </div>
                                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                        <!--title-->
                                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                            <h2 class="h3 post-title text-white my-1">Bank chief warns on Brexit staff moves to other company</h2>
                                                        </a>
                                                        <!-- meta title -->
                                                        <div class="news-meta">
                                                            <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                                            <span class="news-date">Oct 22, 2019</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Item slider-->
                                        <div class="carousel-item">
                                            <div class="card border-0 rounded-0 text-light overflow zoom">
                                                <div class="position-relative">
                                                    <!--thumbnail img-->
                                                    <div class="ratio_left-cover-1 image-wrapper">
                                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                            <img class="img-fluid w-100"
                                                                 src="https://bootstrap.news/source/img4.jpg"
                                                                 alt="Bootstrap portal template">
                                                        </a>
                                                    </div>
                                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                        <!--title-->
                                                        <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                            <h2 class="h3 post-title text-white my-1">The world's first floating farm making waves in Rotterdam</h2>
                                                        </a>
                                                        <!-- meta title -->
                                                        <div class="news-meta">
                                                            <span class="news-author">by <a class="text-white font-weight-bold" href="../category/author.html">Jennifer</a></span>
                                                            <span class="news-date">Oct 22, 2019</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end item slider-->
                                    </div>
                                    <!--end carousel inner-->
                                </div>

                                <!--navigation-->
                                <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!--End slider news-->

                            <!--Start box news-->
                            <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
                                <div class="row">
                                    <!--news box-->
                                    <div class="col-6 pb-1 pt-0 pr-1">
                                        <div class="card border-0 rounded-0 text-white overflow zoom">
                                            <div class="position-relative">
                                                <!--thumbnail img-->
                                                <div class="ratio_right-cover-2 image-wrapper">
                                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                        <img class="img-fluid"
                                                             src="https://bootstrap.news/source/img5.jpg"
                                                             alt="simple blog template bootstrap">
                                                    </a>
                                                </div>
                                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                    <!-- category -->
                                                    <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Lifestyle</a>

                                                    <!--title-->
                                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                        <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--news box-->
                                    <div class="col-6 pb-1 pl-1 pt-0">
                                        <div class="card border-0 rounded-0 text-white overflow zoom">
                                            <div class="position-relative">
                                                <!--thumbnail img-->
                                                <div class="ratio_right-cover-2 image-wrapper">
                                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                        <img class="img-fluid"
                                                             src="https://bootstrap.news/source/img6.jpg"
                                                             alt="bootstrap templates for blog">
                                                    </a>
                                                </div>
                                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                    <!-- category -->
                                                    <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Motocross</a>
                                                    <!--title-->
                                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                        <h2 class="h5 text-white my-1">Three myths about Florida elections recount</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--news box-->
                                    <div class="col-6 pb-1 pr-1 pt-1">
                                        <div class="card border-0 rounded-0 text-white overflow zoom">
                                            <div class="position-relative">
                                                <!--thumbnail img-->
                                                <div class="ratio_right-cover-2 image-wrapper">
                                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                        <img class="img-fluid"
                                                             src="https://bootstrap.news/source/img7.jpg"
                                                             alt="bootstrap blog wordpress theme">
                                                    </a>
                                                </div>
                                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                    <!-- category -->
                                                    <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Fitness</a>
                                                    <!--title-->
                                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                        <h2 class="h5 text-white my-1">Finding Empowerment in Two Wheels and a Helmet</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--news box-->
                                    <div class="col-6 pb-1 pl-1 pt-1">
                                        <div class="card border-0 rounded-0 text-white overflow zoom">
                                            <div class="position-relative">
                                                <!--thumbnail img-->
                                                <div class="ratio_right-cover-2 image-wrapper">
                                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                        <img class="img-fluid"
                                                             src="https://bootstrap.news/source/img8.jpg"
                                                             alt="blog website templates bootstrap">
                                                    </a>
                                                </div>
                                                <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                                    <!-- category -->
                                                    <a class="p-1 badge badge-primary rounded-0" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Adventure</a>
                                                    <!--title-->
                                                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                                                        <h2 class="h5 text-white my-1">Ditch receipts and four other tips to be a shopper</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end news box-->
                                </div>
                            </div>
                            <!--End box news-->
                        </section>
                        <!--END SECTION-->
                    </div>
                </div>
                <!--end code-->

{#                <div class="row mb-4">#}
{#                    <div class="col-12 text-center">#}
{#                        <p>Design by Ari Budin <a target="_blank" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">Bootstrap.News</a> | images by pixabay and pexels</p>#}
{#                    </div>#}
{#                </div>#}
            </div>
        {% endblock %}
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2021 MYFITZONE
                </div>
{#                <div class="col-sm-6 text-right">#}
{#                    Designed by <a href="https://colorlib.com">Colorlib</a>#}
{#                </div>#}
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="{{ asset('js/main.js') }}"></script>

<!--  Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

<!--Chartist Chart-->
<script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
<script src="{{ asset('js/init/weather-init.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
<script src="{{ asset('js/init/fullcalendar-init.js') }}"></script>

{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}
</body>
</html>
