<nav class="navbar navbar-expand-sm navbar-default">
    <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="index.html"><i class="menu-icon fa fa-dashboard"></i>dashboard</a>
            </li>

            <li class="menu-title">Article</li><!-- /.menu-title -->

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon far fa-newspaper"></i>Articles</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon ti-pencil-alt"></i><a href="{{ path('article_new') }}">Créer</a></li>
                    <li><i class="menu-icon ti-view-list"></i><a href="{{ path('article_index') }}">Lister</a></li>
                </ul>
            </li>

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fas fa-th-large"></i>Catégories</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon ti-pencil-alt"></i><a href="{{ path('categorie_new') }}">Créer</a></li>
                    <li><i class="menu-icon ti-view-list"></i><a href="{{ path('categorie_index') }}">Lister</a></li>
                </ul>
            </li>

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fas fa-th"></i>Sous catégories</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon ti-pencil-alt"></i><a href="{{ path('sous_categorie_new') }}">Créer</a></li>
                    <li><i class="menu-icon ti-view-list"></i><a href="{{ path('sous_categorie_index') }}">Lister</a></li>
                </ul>
            </li>

            <li class="menu-title">Recette</li><!-- /.menu-title -->

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fas fa-list-ol"></i>Recette</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon ti-pencil-alt"></i><a href="{{ path('recette_new') }}">Créer</a></li>
                    <li><i class="menu-icon ti-view-list"></i><a href="{{ path('recette_index') }}">Lister</a></li>
                </ul>
            </li>

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fas fa-carrot"></i>Ingredient</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon ti-pencil-alt"></i><a href="{{ path('ingredient_new') }}">Créer</a></li>
                    <li><i class="menu-icon ti-view-list"></i><a href="{{ path('ingredient_index') }}">Lister</a></li>
                </ul>
            </li>

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fas fa-hamburger"></i>Ingredient recette</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon ti-pencil-alt"></i><a href="{{ path('ingredient_recette_new') }}">Créer</a></li>
                    <li><i class="menu-icon ti-view-list"></i><a href="{{ path('ingredient_recette_index') }}">Lister</a></li>
                </ul>
            </li>

            <li class="menu-title">Utilisateur</li><!-- /.menu-title -->

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fas fa-users-cog"></i>Utilisateur</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon ti-pencil-alt"></i><a href="#">Créer</a></li>
                    <li><i class="menu-icon ti-view-list"></i><a href="{{ path('utilisateur_index') }}">Lister</a></li>
                </ul>
            </li>

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fas fa-id-card"></i>Profil</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon ti-pencil-alt"></i><a href="{{ path('profil_new') }}">Créer</a></li>
                    <li><i class="menu-icon ti-view-list"></i><a href="{{ path('profil_index') }}">Lister</a></li>
                </ul>
            </li>

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fas fa-map-marker-alt"></i>Adresse</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon ti-pencil-alt"></i><a href="{{ path('adresse_new') }}">Créer</a></li>
                    <li><i class="menu-icon ti-view-list"></i><a href="{{ path('adresse_index') }}">Lister</a></li>
                </ul>
            </li>

        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
