{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">{{ form_label(form.titre) }}</label>
            {{ form_widget(form.titre) }}
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">{{ form_label(form.imageFile) }}</label>
            {{ form_widget(form.imageFile) }}
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">{{ form_label(form.slug) }}</label>
            {{ form_widget(form.slug) }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">{{ form_label(form.tagsText) }}</label>
            {{ form_widget(form.tagsText) }}
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">{{ form_label(form.sousCategorie) }}</label>
            {{ form_widget(form.sousCategorie) }}
        </div>
    </div>

    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}

    <br>

    {{ form_widget(form.contenu) }}

    <br>

<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
