{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <h1>Liste des articles</h1>

    <br>

    <table id="table_article_id" class="display table table-hover" width="100%">
        <thead style="background-color: lightsteelblue">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Contenu</th>
            <th scope="col">DateCreation</th>
            <th scope="col">DateModification</th>
            <th scope="col">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                <td>{{ article.description|slice(0,50) }}</td>
                <td>{{ article.contenu|slice(0,50) }}</td>
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.dateModification ? article.dateModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}"><i class="far fa-eye" style="color: dodgerblue"></i></a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}"><i class="fas fa-pen" style="color: #49a342"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <a class="btn btn-primary" href="{{ path('article_new') }}">Nouvel article</a>


{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function() {
            $('#table_article_id').DataTable( {
                scrollY:        200,
                scrollCollapse: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            } );
        } );

    </script>
{% endblock %}
