{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateModification</th>
                <td>{{ article.dateModification ? article.dateModification|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-lg-start">
            <div class="col-md-auto">
                <a class="btn btn-secondary" href="{{ path('article_index') }}">Retour à la liste</a>
            </div>
            <div class="col-md-auto">
                <a class="btn btn-success" href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
            </div>
            <div class="col-md-auto">
                {{ include('article/_delete_form.html.twig') }}
            </div>
        </div>
    </div>


{% endblock %}
